@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center
}

// @include MyFlex;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

#newsAllPacket {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .newCard {
        overflow: hidden;
        text-decoration: none;
        color: black;
        display: flex;

        .imageBox {
            background: orange;
            width: 300px;
            height: 150px;

            img {
                width: 100%;
            }
        }

        .textBox {
            margin-left: 10px;
            font-size: 30px;
            font-family: "Ubuntu", sans-serif;

            p:hover {
                color: #F06728;
            }
        }
    }
}

@media only screen and (max-width: 762px) {
    #newsAllPacket {
       padding: 50px 20px;

        .newCard {
            flex-direction: column;
            @include MyFlex;

        

            .textBox {
                margin-top: 30px;
              
            }
        }
    }
}