@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center
}

// @include MyFlex;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#detailPage {




    .imageBox {
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .frontBox {
            @include MyFlex;
            flex-direction: column;
            gap: 20px;
            font-family: "Ubuntu", sans-serif;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.477);

            h1 {
                color: white;
                font-size: 48px;
                text-align: center;
            }

            p {
                color: #ED682A;
                font-size: 17px;

                .link {
                    color: white;
                }

                span {
                    color: rgb(189, 186, 186);
                }
            }
        }

    }

    .imageAndTextBox {
        padding: 70px 10px;
        @include MyFlex;
        // flex-direction: column;
        gap: 40px;
        background-color: white;

        .image {
            height: 75vh;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .text {
            width: 80%;
            padding: 10px;
            font-family: "Ubuntu", sans-serif;
            flex-direction: column;

            span {
                margin: -20px 0px 0px;
                color: #25224B;
                font-weight: 600;
                font-size: 40px;
            }

            P {
                margin-top: 30px;
                font-size: 17px;
                text-align: start;
            }
        }
    }
}

@media only screen and (max-width: 792px) {
    #detailPage {
        .imageAndTextBox {
            flex-direction: column;

            .image {
                width: 100%;
                height: 40vh;
            }

            .text {
                width: 100%;

                span {
                    font-size: 25px;
                }

            }
        }
    }
}