.modeBox {
    input[type="checkbox"] {
        display: none;
    }

    #switch {
        display: block;
        width: 40px;
        height: 25px;
        border-radius: 20px;
        background-color: rgb(241, 161, 12);
        cursor: pointer;
    }

    #circle {
        width: 20px;
        height: 20px;
        background-color: white;
        position: relative;
        top: 2.2px;
        left: 3px;
        border: 10px solid white;
        border-radius: 50%;
        transition: 0.4s ease left, 0.4s ease background-position;
        z-index: 2;
    }

    #toggle:checked+#switch #circle {
        left: 17px;
        background-position: -350px 0;
    }

    #toggle:checked+#switch {
        background: #212121;
    }
}